body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.quiz-container {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

.options button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#timer {
    color: red;
    font-weight: bold;
}
